.portraitCol img {
    height: 300px;
    width: 200px;
    /* border-radius: 15%; */
    /* margin-right: 15px;
    float: left; */
   
}

.portraitCol {
    text-align: center;
    border: solid;
    padding: 2%;
    margin: 5%;
    max-width: 300px;
    min-width: 225px;
    max-height: 380px;
    align-content: center;
    
    
}

.introCol {
        margin-top: 0px;
        padding-right: 0px;
        text-align: justify;
        border: solid;
        padding: 2%;
        margin: 5%;
    
}

.Body {
    background-color: #282c34;
    height: 100%;
    color: white;
    min-width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
}

.content {
    margin: 5%;
    border: solid;
    padding: 2%;
    text-align: left;
    margin-top: 5px;
}

.contentDiv h3 {
    min-width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.contentDiv {
    min-width: 100%;
    text-align: center;
    align-content: center;
    margin-top: 0px;
}

.introRow {
    
    justify-content: space-around;
}


