.Navigation {
    bottom: 0;
    height: 50px;
    position: fixed;
    background-color: #282c34;
    min-width: 100%;
    color: orange;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#home{
    padding-top: 200px;
    margin-top: -200px;
    z-index: 99;
}

#about {
    padding-top: 200px;
    margin-top: -200px;
    
}

#projects {
    padding-top: 200px;
    margin-top: -200px;
}

#contact {
    padding-top: 200px;
    margin-top: -200px;
}

