.layoutDiv {
 min-width: 100%;
    
}

.headerDiv {
     /* just in case  */
     
}

.navDiv {
  /* margin-top: 0px; */
  min-width: 100%;
}

.bodyDiv {
  /* margin-top: 170px; */
  min-width: 100%;
}

.styleOptions {
  margin-top: 150px;
  position: fixed;
  z-index: 9999;
  margin-left: 15px;
}


